html, body {
  margin: 0;
  padding: 0;
  background-color: black;

}

h1, h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: azure;
}
canvas {
  display: block;
}

 img{
  margin-left: 550px;
  margin-bottom: 4px;

} 