html, body {
  background-color: black;
  overflow: hidden
  
  

}

h1, h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: azure;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}